<% if products.count > 0 %>
  <h4 class="card-title">Products in the cart</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unit</th>
        <th scope="col">Amout</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |cp| %>
        <tr>
          <td scope="row"><%= cp.product.name %></td>
          <td><%= cp.product.price %></td>
          <td><%= cp.amount %></td>
          <td><%= cp.value %></td>
        </tr>
      <% end %>
    </tbody>          
  </table>
  <h5>Count: <%= products.count  %></h5>
<% end %>