<% if products.count > 0 %>
  <h4 class="card-title">Products in the cart</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unit</th>
        <th scope="col">Amout</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |cp| %>
        <tr>
          <td scope="row"><%= cp.product.name %></td>
          <td><%= format_value cp.product.price %></td>
          <td><%= cp.amount %></td>
          <td><%= format_value cp.value %></td>
          <td><%= cp.id %>
            <%= link_to 'Destroy', {action: 'remove', id: cp.id}, method: :post, data: { confirm: 'Are you sure?' }, remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h5>Count: <%= products.count  %></h5>
<% end %>
