<p id="notice"><%= notice %></p>

<h3>Products</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="text-right"><%= format_value product.price %></td>
        <td style="width: 250px">
          <%= link_to 'Show', product, class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary btn-sm' %>
